body{
  background: #EEE;
  font-family: Tahoma;
}

#title{
  text-align: center;
  padding: 20px;
  background: #CCC;
}

#image{
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

#img-caption{
  color: #333;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.see-more{
  display: inline-block;
  background: #333;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  color: #FFF;
}

article{
  color: #626262;
}
